.container{
    width: 100%;
    max-width: 1124px;
    display: flex;
    margin-top: 45px;
}
.writeup{
    width: 50%;
    margin-left: 10px;
}
.writeup h1{
    font-size: 55px;
    font-weight: 800;
    color: rgb(201, 28, 28);
}
.writeup h3{
    margin: 10px 0px 50px 0px;
    word-spacing: 3px;
}
@keyframes fade-in-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  

.image{
    width: 50%;
    animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.image img{
    width: 80%;
    height: 100%;
    margin: 10px 0px 0px 20px;
}
.featurescontainer{
    width: 100%;
    background-color: rgba(201, 28, 28, 0.042);
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.featurescontainer .head h3{
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.featurescontainer .head hr{
    background-color: rgb(201, 28, 28);
    border-color: rgb(201, 28, 28);
    height: 0.5px;
    width: 55px;
    border-radius: 50px;
    margin-bottom: 100px;
}
.features{
    display: flex;
    width: 100%;
    max-width: 1124px;
    justify-content: space-around;
}
.box{
    width: 300px;
    height: 250px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.icons{
    width: 80px;
    height: 80px;
    border: 1px solid #c91c1c;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icons img{
    width: 40px;
    height: 40px;
}
.box h4{
    margin-bottom: 10px;
}

@media (max-width:800px) {
  .container{flex-direction: column; align-items: center; text-align: center;}
  .writeup{ width: 100%; display: flex;flex-direction: column;align-items: center; }
  .image{ width: 100% ;margin-top: 40px; }
  .features{ flex-direction: column;align-items: center; }
  .writeup h1{ font-size: 40px;}
}
