/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */

.contain{
    
    max-width: 1124px;
    width: 100%;
}
.row{
    display: flex;
    /* flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px; */
    position: relative;
}

.title{
    background: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 60px;
}
.sub-title{
    background: var(--skin-color);;;
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}
.info-item{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}
.info-item .icon{
    display: inline-block;
}
.info-item .icon .fa{
    font-size: 25px;
    color: white;
    
}
.info-item h4{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-700);
    text-transform: capitalize;
    margin: 15px 0 5px;
}
.info-item p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:100px;
    width: 100%;
}

.form input{
    width: 500px;
    height: 40px;
    margin: 20px 0px 10px 0px;
    border: 1px solid rgba(0, 0, 0, 0.266);
    border-radius: 3px;
}
.form textarea{
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.266);
    width: 500px;

}
 .form button {
    padding: 0.6rem 2rem;
    background-color: rgb(201, 28, 28);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
.form button:hover {
    opacity: 0.8;
  }
  
.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background-color:rgb(201,28,28); 
    transition: all 0.3s ease;
}
.btn:hover{
    transform: scale(1.05);
    color: white;
}

@media (max-width:991px)
{
    .info-item{
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width:800px)
{
    
    .info-item{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .row{
       flex-wrap: wrap;
    }
 
}
@media (max-width:500px){
    .form input {
        width: 300px;
    }
    .form textarea{
        width: 300px;
    }
}