/* .about-div {
    display: flex;
    width: 100%;
    max-width: 1124px;
    margin-top: 50px;
    margin-bottom:140px ;
    justify-content: space-between;
    
}


h2{
    margin-bottom: 40px;
    color: rgb(201, 28, 28);
}

@media screen and (max-width:780px) {  
    .image {
      display: none;
    }
    .info{
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
       text-align: center;
    }
    .picture{
       display: none;
    }
    
}

.image{
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

.picture{
    float: right;
    margin: 40px;  
}

.read-more{
    color: white;
    cursor: pointer;
    border: 1px solid wheat;
    text-transform: uppercase;
    background-color: rgb(201, 28, 28);
    border-radius: 5px;
    margin-top: 60px;
    height: 20px;
    width: 120px;
    padding: 15px;
    text-align: center;
}

.read-more:hover{
    background-color: burlywood;
} */